
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					<section>
						<h1>Welcome to my website, I will be demonstrating HTML5 principles and techniques, Routing in Express<h1>
							<h3>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that including:</h3>
								<h2>  <a href="/students" class="link-success"> All Students</a> </br>
								   <a href="/students/5" class="link-success">Students by Course</a> </br>
								   <a href="/student/1" class="link-success"> A Single Student By Student Number</a> </br>
								    <a href="/tas" class="link-success">All Managers</a> </br>
									<a href="/courses" class="link-success"> All Courses</a> </h2>
						<h1>About</h3>
							<h3>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web</h3>
					</section>
					
					<!-- End your code here  -->



				</main>
			</div>