<!DOCTYPE html>
<html>

<head>
	<title>WEB700</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/theme.css"/> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Sahil Arora</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
				<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				<li class="nav-item active"><a class="nav-link" href="/students/add">Add Student</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
				<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
				<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<main class="col-md-12">



				<!-- Start your code here -->
				
				<section>
					<div class="container mt-3">
						<h2>Tables</h2>
						<p></p>
						<table class="table table-bordered">
							<CAPTION><EM>Table</EM></CAPTION>
							<thead>
								<tr>
									<th >Firstname</th>
									<th>Lastname</th>
									<th>Email</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td >John</td>
									<td >Doe</td>
									<td >john@example.com</td>
								
								</tr>
							
							<tr>
								<td >John1</td>
									<td >Doe1</td>
									<td >john1@example.com</td>
						
							</tr>
							
								<tr>
									<td >John2</td>
									<td >Doe2</td>
									<td >john2@example.com</td>
								
								</tr>

								<tr>
									<td >John3</td>
									<td >Doe3</td>
									<td >john3@example.com</td>
								
								</tr>

								<tr>
									<td >John4</td>
									<td >Doe4</td>
									<td >john4@example.com</td>
								
								</tr>
								
								</tbody>
						</table>
					</div>
					<p>It's a table</p>
				</section>

				<section>
					<div class="container mt-3">
						<h2>Lists</h2>
						<p></p>
						<ul class="list-group">
							<li class="list-group-item">An item</li>
							<li class="list-group-item">A second item</li>
							<li class="list-group-item">A third item</li>
							<li class="list-group-item">A fourth item</li>
							<li class="list-group-item">And a fifth one</li>
						  </ul>
					</div>
					<p>It's an list</p>
				</section>
				<section>
					<div class="container mt-3">
						<h2>Images</h2>
						<p></p>
						<table class="table">
							<thead>
								<tr>
									<th>Images</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg " alt="Responsive image" style="height: 5x0px;"/></td>
								</tr>
								<tr>
									<td><img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg " alt="Responsive image" style="height: 100px;"/></td>
								</tr>
								<tr>
									<td><img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg " alt="Responsive image" style="height: 200px;"/></td>
								</tr>
							</tbody>
						</table>
					</div>
					<p>It's table with images</p>
				</section>

				<section>
					<div class="container mt-3">
						<h2>Audio</h2>
						<p></p>
						<table class="table">
							<thead>
								<tr>
									<th>Audio</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><audio controls>
										<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-audio.mp3" type="audio/mpeg">
									  </audio></td>

								</tr>
								<tr>
									<td><audio controls>
										<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-audio.ogg  " type="audio/mpeg">
									  </audio></td>
								</tr>
								<tr>
									<td><audio controls>
										<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-audio.mp3 " type="audio/mpeg">
									  </audio></td>
								</tr>
							</tbody>
						</table>
					</div>
					<p>It's table containing Audio</p>
				</section>

				<section>
					<div class="container mt-3">
						<h2>Video</h2>
						<p></p>
						<table class="table">
							<thead>
								<tr>
									<th>Videos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-video.mp4 " allowfullscreen></iframe>
									  </div></td>
								</tr>
								<tr>
									<td><div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-video.ogg" allowfullscreen></iframe>
									  </div></td>
								</tr>
								<tr>
									<td><div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-video.webm" allowfullscreen></iframe>
									  </div></td>
								</tr>
							</tbody>
						</table>
					</div>
					<p>It's table containing video</p>
				</section>


					<!-- End your code here  -->



			</main>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>