
		<div class="row">
			<main class="col-md-12">



				<!-- Start your code here -->
				
				<section>
					<div class="container mt-3">
						<h2>Tables</h2>
						<p></p>
						<table class="table table-bordered">
							<CAPTION><EM>Table</EM></CAPTION>
							<thead>
								<tr>
									<th >Firstname</th>
									<th>Lastname</th>
									<th>Email</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td >John</td>
									<td >Doe</td>
									<td >john@example.com</td>
								
								</tr>
							
							<tr>
								<td >John1</td>
									<td >Doe1</td>
									<td >john1@example.com</td>
						
							</tr>
							
								<tr>
									<td >John2</td>
									<td >Doe2</td>
									<td >john2@example.com</td>
								
								</tr>

								<tr>
									<td >John3</td>
									<td >Doe3</td>
									<td >john3@example.com</td>
								
								</tr>

								<tr>
									<td >John4</td>
									<td >Doe4</td>
									<td >john4@example.com</td>
								
								</tr>
								
								</tbody>
						</table>
					</div>
					<p>It's a table</p>
				</section>

				<section>
					<div class="container mt-3">
						<h2>Lists</h2>
						<p></p>
						<ul class="list-group">
							<li class="list-group-item">An item</li>
							<li class="list-group-item">A second item</li>
							<li class="list-group-item">A third item</li>
							<li class="list-group-item">A fourth item</li>
							<li class="list-group-item">And a fifth one</li>
						  </ul>
					</div>
					<p>It's an list</p>
				</section>
				<section>
					<div class="container mt-3">
						<h2>Images</h2>
						<p></p>
						<table class="table">
							<thead>
								<tr>
									<th>Images</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg " alt="Responsive image" style="height: 5x0px;"/></td>
								</tr>
								<tr>
									<td><img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg " alt="Responsive image" style="height: 100px;"/></td>
								</tr>
								<tr>
									<td><img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg " alt="Responsive image" style="height: 200px;"/></td>
								</tr>
							</tbody>
						</table>
					</div>
					<p>It's table with images</p>
				</section>

				<section>
					<div class="container mt-3">
						<h2>Audio</h2>
						<p></p>
						<table class="table">
							<thead>
								<tr>
									<th>Audio</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><audio controls>
										<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-audio.mp3" type="audio/mpeg">
									  </audio></td>

								</tr>
								<tr>
									<td><audio controls>
										<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-audio.ogg  " type="audio/mpeg">
									  </audio></td>
								</tr>
								<tr>
									<td><audio controls>
										<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-audio.mp3 " type="audio/mpeg">
									  </audio></td>
								</tr>
							</tbody>
						</table>
					</div>
					<p>It's table containing Audio</p>
				</section>

				<section>
					<div class="container mt-3">
						<h2>Video</h2>
						<p></p>
						<table class="table">
							<thead>
								<tr>
									<th>Videos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-video.mp4 " allowfullscreen></iframe>
									  </div></td>
								</tr>
								<tr>
									<td><div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-video.ogg" allowfullscreen></iframe>
									  </div></td>
								</tr>
								<tr>
									<td><div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-video.webm" allowfullscreen></iframe>
									  </div></td>
								</tr>
							</tbody>
						</table>
					</div>
					<p>It's table containing video</p>
				</section>


					<!-- End your code here  -->



			</main>
		</div>
	